<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SchoolName" value="Kendriya Vidyalaya"/>
    <add key="ImplementationType" value="StaffInDB"/>
    <add key="XmlFileName" value="StaffList.xml"/>
    <add key="JsonFileName" value="StaffList.json"/>
    <add key="ConnString" value="Data Source=LENOVO-LAPTOP;Initial Catalog=StaffDB;User ID=sa;Password=!QAZ2wsx"/>
  </appSettings>
</configuration>